body {
  font-family: 'Arial Black', Arial, sans-serif;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#wordcloud {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 3px 6px;
  border-radius: 5px;
  pointer-events: none;
  font-size: 12px;
}

svg {
  background-color: #4d1b1b; /* Orange color */
}

rect {
  stroke-width: 4;
  fill: #361e03; /* Orange color */
  border-radius: 10px; /* Adjust this value to change the roundness of the corners */
}
